In [41]:
import pandas as pd
import numpy as np
%matplotlib inline

# grouping
- keys
- as_index

In [5]:
df = pd.DataFrame({'A': [1, 2, 1],
                   'B': [1, 2, 3]})
df

   A  B
0  1  1
1  2  2
2  1  3

In [16]:
a, b= df.groupby('A'), df.groupby(df.loc[0, :], axis=1, sort=False)

## groupby attributes, like a dict
1. groups. a dict  
    - Iterating through groups
2. columns

In [28]:
arrays = [[1,2,1],
          [3,4,4]]
index = pd.MultiIndex.from_arrays(arrays, names=['first', 'second'])
s = pd.Series([1,2,3], index=index)
s

first  second
1      3         1
2      4         2
1      4         3
dtype: int64

In [33]:
s.groupby(level=['first']).sum()

first
1    4
2    2
dtype: int64

pd.Grouper

```py
a.B = df['B'].groupby(df['A'])
```

## groupby methods
1. get_group
2. sum
3. agg  


dispatching

# Aggregation, reducer

## groupby methods
3. agg
4. size
5. describe

In [42]:
a.agg({'B': ['mean', 'max', np.sum]})

     B
  mean max sum
A
1    2   3   4
2    2   2   2

# Transformation, mapping
The transform method returns an object that is indexed the same (same size) as the one being grouped. 
- broadcasting
- rolling
- resampleing

# Filtration, filter