In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [1]:
import lightgbm as lgb

In [46]:
df = pd.read_csv("./train.csv",index_col = 0)
df.head()

                                                      text author
id
id26305  This process, however, afforded me no means of...    EAP
id17569  It never once occurred to me that the fumbling...    HPL
id11008  In his left hand was a gold snuff box, from wh...    EAP
id27763  How lovely is spring As we looked from Windsor...    MWS
id12958  Finding nothing else, not even gold, the Super...    HPL

In [25]:
x_train = df.drop("author",axis=1)
y_train = df["author"]

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

In [21]:
pipe = Pipeline([
    ('vect',CountVectorizer()),
    ('tfidf',TfidfTransformer())])

In [30]:
xtrain = pipe.fit_transform(x_train['text'])

In [43]:
xtrain = xtrain.astype(np.float32)
d_train = lgb.Dataset(xtrain, label = y_train)

In [45]:
parameters = {}
parameters['max_bin'] = 10
parameters['learning_rate'] = .002
parameters['boosting_type'] = 'gbdt'
parameters['objective'] = 'classification'
parameters['metric'] = 'l1'
parameters['sub_feature'] = .5
parameters['bagging_fraction'] = .85
parameters['bagging_freq'] = 40
parameters['verbose'] = 0