In [1]:
from pyteomics import mass

In [2]:
mass.calculate_mass(composition={'C':2,'H':4, 'O':1})
44.02621474784

44.02621474784

In [ ]:
mass.calculate_mass(composition={'C':2,'H':4, 'O':1})

In [4]:
import pandas as pd

In [13]:
df = pd.read_excel('../1.xlsx',header=None,index_col=0)

In [34]:
a = pd.read_excel('../1.xlsx',header=None,index_col=0).applymap(lambda x:mass.calculate_mass(formula=str(x)))

In [42]:
a['Na1'] = a.loc[:,1]+a.loc['一个钠',1]

In [44]:
a['Na2'] = a.loc[:,1]+a.loc['一个钠',1]*2

In [50]:
a

              1         Na1          Na2
0
A-1  164.068473  187.058243   210.048012
A-2  190.084124  213.073893   236.063662
B    428.313789  451.303558   474.293328
C    454.329439  477.319208   500.308978
D    691.551280  714.541049   737.530818
E    718.574755  741.564524   764.554293
F    692.559105  715.548874   738.538643
G    956.804420  979.794190  1002.783959
单体    44.026215   67.015984    90.005753
一个钠   22.989769   45.979539    68.969308

In [55]:
b = pd.read_excel('../1.xlsx',header=None,index_col=0).applymap(lambda x:mass.calculate_mass(formula=str(x)+'Na2'))/2

SyntaxError: invalid character in identifier (<ipython-input-55-5f099460b041>, line 2)

In [62]:
b.to_excel('双电荷.xlsx')

In [60]:
b.loc['单体'] = a.loc['单体',1]/2