In [1]:
import pandas as pd

什么叫concatnate？  
接起来，连起来。  
例如，把几条线连接起来。--- + -- + - = concat([---, --, -])  
线： homogeneously-typed objects aling one [axis],  
 **and**  some configurable handing of what to do with other axes

In [4]:
df1 = pd.DataFrame({'A': ['A1','A2'],
                    'B': ['B1', 'B2']},
                  index=[0,1])
df2 = pd.DataFrame({'A': ['a1', 'a2'],
                   'B': ['b1', 'b2']},
                  index=[2,3])
frames = [df1, df2]

In [5]:
pd.concat(frames)

    A   B
0  A1  B1
1  A2  B2
2  a1  b1
3  a2  b2

参数：  
1. objs. a sequence or mapping of Series, DataFrame, or Panel objects.  
2. axis. The axis to concatenate along.  
3. join. How to handle **indexes** on other axis(es).  
      outer for union and inner for intersection.  
4. ignore_index. if True, do not use the index values on the concatenation axis.  
       The resulting axis will be labeled 0,..., n-1.  
5. join_axes. list of index objects. specific indexes to use for the other n-1 exes insted of performing inner/outer set logic.  
6. keys. construct hierarchical index using the passed keys as the outermost level. 
        len(keys) = len(objs)  
        name of objects  
7. levels.  
8. names. names for the levels in the resulting [**hierarchical index**](https://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced-hierarchical)    
9. verify_integrity. check whether the new concatenated axis contains duplicates.  
10. copy, default True. if False, do not copy data unnecessarily.

In [9]:
result = pd.concat(frames, keys=['X', 'x'])
result

      A   B
X 0  A1  B1
  1  A2  B2
x 2  a1  b1
  3  a2  b2

In [15]:
result.loc['X']

    A   B
0  A1  B1
1  A2  B2

## Set logic on the other axes
    handling possiblely different indexes on other axis(es)

In [20]:
df3 = pd.DataFrame({'C': ['a1', 'a2'],
                   'B': ['b1', 'b2']},
                  index=[2,3])

In [25]:
pd.concat([df1, df3], axis=1)

     A    B    B    C
0   A1   B1  NaN  NaN
1   A2   B2  NaN  NaN
2  NaN  NaN   b1   a1
3  NaN  NaN   b2   a2

[0, 1] on axis 0 of df1,  
[2, 3] on axis 0 of df3  
新的结果数据框需要一个**统一**的axis 0, 因此要确定如何统一的的方法join 或者 join_axes。

## Concatenating using append
append instance methods on Series and DataFrame is a **shorcut** to concat(axis=0)

In [33]:
df1.append(df1)

    A   B
0  A1  B1
1  A2  B2
0  A1  B1
1  A2  B2

In [34]:
# if the result index of the concat-exis is not meaningful, you can ignore it.
df1.append(df1, ignore_index=True)

    A   B
0  A1  B1
1  A2  B2
2  A1  B1
3  A2  B2

## Concatenating with mixed ndims(a mix of Series and DataFrames)  
The Series will be transformed to DataFrame with the column name as the name of the Series.  
Series --> DataFrame

In [36]:
s1 = pd.Series(['C1', 'C2'], name='Series')
pd.concat([df1, s1])

     A    B    0
0   A1   B1  NaN
1   A2   B2  NaN
0  NaN  NaN   C1
1  NaN  NaN   C2